AWSTemplateFormatVersion: "2010-09-09"

Description: Microtrader Stack

Parameters:
  ApplicationDesiredCount:
    Type: Number
    Description: The desired number of application instances
    Default: 1
  ApplicationImageId:
    Type: String
    Description: Amazon machine image ID
  ApplicationKeyName:
    Type: String
    Description: EC2 key pair for SSH sccess
  ApplicationInstanceType:
    Type: String
    Description: Application EC2 instance type
    Default: t2.micro
    AllowedValues:
      - t2.micro
      - t2.small
      - t2.medium
  VpcName:
    Type: String
    Description: Name of the target VPC
    Default: Default

Resources:
  ApplicationAutoscalingLaunchConfiguration:
    Type: AWS::AutoScaling::LaunchConfiguration
    Metadata:
      AWS::CloudFormation::Init:
        config:
          commands:
            10_first_run:
              command: sh firstrun.sh
              cwd: /home/ec2-user
              env:
                STACK_NAME:
                  Ref: AWS::StackName
                AUTOSCALING_GROUP: ApplicationAutoscaling
                AWS_DEFAULT_REGION:
                  Ref: AWS::Region
                ECS_CLUSTER:
                  Ref: ApplicationCluster
                PROXY_URL:
                  Fn::ImportValue:
                    Fn::Sub: ${VpcName}ProxyUrl
                DOCKER_NETWORK_MODE: host
    Properties:
      ImageId:
        Ref: ApplicationImageId
      InstanceType:
        Ref: ApplicationInstanceType
      KeyName:
        Ref: ApplicationKeyName
      IamInstanceProfile:
        Ref: ApplicationAutoscalingInstanceProfile
      SecurityGroups:
        - Ref: ApplicationAutoscalingSecurityGroup
      UserData:
        Fn::Base64:
          Fn::Join: ["", [
            "#!/bin/bash\n",
            "/opt/aws/bin/cfn-init -v ",
            "    --stack ", { "Ref" : "AWS::StackName" },
            "    --resource ApplicationAutoscalingLaunchConfiguration ",
            "    --region ", { "Ref" : "AWS::Region" },
            "    --http-proxy ", "Fn::ImportValue": { "Fn::Sub": "${VpcName}ProxyUrl" },
            "    --https-proxy ", "Fn::ImportValue": { "Fn::Sub": "${VpcName}ProxyUrl" },
            "\n",
            "/opt/aws/bin/cfn-signal -e $? --stack ", { "Ref" : "AWS::StackName" },
            "    --resource ApplicationAutoscaling ",
            "    --region ", { "Ref" : "AWS::Region" },
            "    --http-proxy ", "Fn::ImportValue": { "Fn::Sub": "${VpcName}ProxyUrl" },
            "    --https-proxy ", "Fn::ImportValue": { "Fn::Sub": "${VpcName}ProxyUrl" },
            "\n",
          ] ]
  ApplicationAutoscaling:
    Type: AWS::AutoScaling::AutoScalingGroup
    CreationPolicy:
      ResourceSignal:
        Count:
          Ref: ApplicationDesiredCount
        Timeout: PT15M
    Properties:
      LaunchConfigurationName:
        Ref: ApplicationAutoscalingLaunchConfiguration
      MinSize: 0
      MaxSize: 4
      DesiredCapacity:
        Ref: ApplicationDesiredCount
      VPCZoneIdentifier:
        - Fn::ImportValue:
            Fn::Sub: ${VpcName}MediumSubnetA    
        - Fn::ImportValue:
            Fn::Sub: ${VpcName}MediumSubnetB
      Tags:
        - Key: Name
          Value: 
            Fn::Sub: ${AWS::StackName}-ApplicationAutoscaling-instance
          PropagateAtLaunch: "true"
        - Key: hazelcast:group
          Value:
            Ref: ApplicationCluster
          PropagateAtLaunch: "true"
  MicrotraderClusterDiscoverIngress:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      IpProtocol: tcp
      FromPort: 5701
      ToPort: 5710
      SourceSecurityGroupId:
        Ref: ApplicationAutoscalingSecurityGroup
      GroupId:
        Ref: ApplicationAutoscalingSecurityGroup
  MicrotraderClusterDiscoverEgress:
    Type: AWS::EC2::SecurityGroupEgress
    Properties:
      IpProtocol: tcp
      FromPort: 5701
      ToPort: 5710
      DestinationSecurityGroupId:
        Ref: ApplicationAutoscalingSecurityGroup
      GroupId:
        Ref: ApplicationAutoscalingSecurityGroup
  MicrotraderEventBusIngress:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      IpProtocol: tcp
      FromPort: 15701
      ToPort: 15704
      SourceSecurityGroupId:
        Ref: ApplicationAutoscalingSecurityGroup
      GroupId:
        Ref: ApplicationAutoscalingSecurityGroup
  MicrotraderEventBusEgress:
    Type: AWS::EC2::SecurityGroupEgress
    Properties:
      IpProtocol: tcp
      FromPort: 15701
      ToPort: 15704
      DestinationSecurityGroupId:
        Ref: ApplicationAutoscalingSecurityGroup
      GroupId:
        Ref: ApplicationAutoscalingSecurityGroup
  ApplicationAutoscalingSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription:
        Fn::Sub: ${AWS::StackName} Application Autoscaling Security Group
      VpcId:
        Fn::ImportValue:
          Fn::Sub: ${VpcName}VpcId
      SecurityGroupIngress:
        - IpProtocol: tcp
          FromPort: 22
          ToPort: 22
          CidrIp:
            Fn::ImportValue:
              Fn::Sub: ${VpcName}VpcCidr
      SecurityGroupEgress:
        - IpProtocol: udp
          FromPort: 53
          ToPort: 53
          CidrIp:
            Fn::Join: ["", [ "Fn::ImportValue": { "Fn::Sub": "${VpcName}VpcDnsServer" }, "/32" ] ]
        - IpProtocol: tcp
          FromPort: 3128
          ToPort: 3128
          DestinationSecurityGroupId:
            Fn::ImportValue:
              Fn::Sub: ${VpcName}ProxySecurityGroup