AWSTemplateFormatVersion: "2010-09-09"

Description: Microtrader Stack

Parameters:
  ApplicationDesiredCount:
    Type: Number
    Description: The desired number of application instances
    Default: 1
  VpcName:
    Type: String
    Description: Name of the target VPC
    Default: Default

Resources:
  ApplicationAutoscaling:
    Type: AWS::AutoScaling::AutoScalingGroup
    CreationPolicy:
      ResourceSignal:
        Count:
          Ref: ApplicationDesiredCount
        Timeout: PT15M
    Properties:
      LaunchConfigurationName:
        Ref: ApplicationAutoscalingLaunchConfiguration
      MinSize: 0
      MaxSize: 4
      DesiredCapacity:
        Ref: ApplicationDesiredCount
      VPCZoneIdentifier:
        - Fn::ImportValue:
            Fn::Sub: ${VpcName}MediumSubnetA    
        - Fn::ImportValue:
            Fn::Sub: ${VpcName}MediumSubnetB
      Tags:
        - Key: Name
          Value: 
            Fn::Sub: ${AWS::StackName}-ApplicationAutoscaling-instance
          PropagateAtLaunch: "true"
        - Key: hazelcast:group
          Value:
            Ref: ApplicationCluster
          PropagateAtLaunch: "true"